@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: 
    url('../fonts/open-sans/OpenSans-Regular.woff') format('woff'),
    url('../fonts/open-sans/OpenSans-Regular.woff2') format('woff2');
}
 
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: normal;
  src: 
    url('../fonts/playfair-display/PlayfairDisplay-VariableFont_wght.woff') format('woff'),
    url('../fonts/playfair-display/PlayfairDisplay-VariableFont_wght.woff2') format('woff2');
}
 
$main-font: 'Open Sans', sans-serif;
$heading-font: 'Playfair Display', serif;